= javascript_include_tag "application"

.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }


%ul#details
  = @message

= button_to 'Search Users', users_path(), :method => :get
