%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %div.container
    %a.navbar-brand{:href => home_path} Entrepreneurs @ Berkeley
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto

        - if !user_signed_in?
          %li.nav-item
            %a.nav-link{:href => new_user_session_path} Login
        - if !user_signed_in?
          %li.nav-item
            %a.nav-link{:href => new_user_registration_path} Create New Account
      
        %li.nav-item
          %a.nav-link{:href => destroy_user_session_path, "data-method" => "delete"} Logout


= javascript_include_tag "application"


%ul#details
  = @message

= button_to 'Search Users', users_path(), :method => :get

/ home page content to fill in later.
/ can be static
