-# in app/views/movies/show.html.haml

%h3 Details about Movie

%ul#details
  %li
    Rating:
    = 'PG'
  %li
    Released on:
    = 'date'
  %li
    Director:
    = 'Me'

%h4 Description:

%p#description= 'descriptions'
